.active-element {
  background-color: #6558f5 !important;
  color: #fff !important;
  opacity: 1 !important;
}
.element-menu {
  border-radius: 4px;
  border: 2px solid #6558f5;
  opacity: 0.5;
  padding: 0.5rem 1rem;
  color: #6558f5;
  font-weight: 500;
  margin: 0 1rem;
}
